[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-emoji = "*"
pytest-benchmark = "*"
pytest-sugar = "*"
pytest-clarity = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-html = "*"

[dev-packages]

[requires]
python_version = "3.9"
